
* {
    box-sizing: border-box;
}
header {
    background-color: aquamarine;
    padding: 2em;
    text-align: center;
    font-size: 2em;

}
body {
    background-color: #bbd1ac;

}
div.text{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: medium;
    justify-content: center;
    padding: 1em;
    margin-right: auto;
    margin-left: auto;
    width:66%;
}
H1{
    
    font-family: 'Times New Roman', Times, serif;
    color: grey;
}
H2 {
    font-style: strong;
    font-size: xxx-large;
}
H3 {
    font-style: italic;
}

footer{
    bottom: 0;
    background-color: darkslategray;
    width: 100%;
    color: white;
    text-align: center;
    padding: 16px;
}
li, a:hover{
    text-decoration: underline;
}
li, a:active{
    text-decoration: underline;
}

ul {
    list-style-type: none;
    font-style: italic;
    margin-top: 2em;

}  
